<H1>Login!</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

  <form>
    <fieldset class="form-group">
      <label>User Name </label>
      <input type="text" name="username" class="form-control" [(ngModel)]="username">
    </fieldset>
    <fieldset class="form-group">
      <label>Password </label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password">
    </fieldset>

    <button (click)=handleLogin() class="btn btn-primary mr-1">Hardcoded Login</button>
    <button (click)=handleAWSCognitoLogin() class="btn btn-success mr-1">Login with Cognito</button>
    <a href="https://todoin28minutes.b2clogin.com/todoin28minutes.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_todo-signin&client_id=454c3b43-a8d3-4b60-8c20-38a43d7a0ab4&nonce=defaultNonce&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2F&scope=openid&response_type=id_token&prompt=login"
      class="btn btn-success mr-1">Azure Login</a>

  </form>
</div>