<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.udemy.com/user/in28minutes" class="navbar-brand">
                in28minutes</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="this.authenticationService.isUserLoggedIn()" routerLink="/welcome/in28minutes"
                    class="nav-link">Home</a></li>
            <li><a *ngIf="this.authenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!this.authenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
            </li>
            <li><a *ngIf="this.authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Delete
                    Session
                    Token</a>
            </li>
        </ul>
    </nav>
</header>